*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
}

nav{
    height: 7.5vh;
    background-color: #da12bf77;
    text-align: center;
    line-height: 7.5vh;
}

#Logo{
    height: 7.5vh;
    width: 10vw;
}

#Links{
    height: 7.5vh;
    width: 90vw;
}

#NavLogo{
    height: 5vh;
    width: 2.5vw;
}

a{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    padding-right: 10px;
}

header{
    height: 40vh;
    background-color: #f00;
}

h1{
    font-size: 500%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    padding-left: 2.5%;
    padding-top: 3%;
}

.Slogan{
    display: block;
    font-size: 150%;
    padding-left: 2.5%;
}

#About{
    background-color: #00ff00;
    height: 52.5vh;
}
